.button{
    color: #ffffff;
    background-color: $blue;
    padding: $m-size;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
    border: none;
    line-height: 1;
}

.button--link{
    background: none
}

.button--secondary{
    background-color: #dc2323;
}