.header{
    background: $dark-blue;
}

.header-content{ // make the title and logout btn distributed in the same line
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $s-size ;
}

.header__title{
    color: white;
    text-decoration: none;
    h1{
        margin: 0;
    }
}

