.text-input{
    border: 1px solid #cacccd;
    height: 45px;
    font-size: $large-font;
    font-weight: 300;
    padding: $s-size;
    border-radius: 3px;
}

.select{
    @extend .text-input; // inherit all the properties in text-input then make the below changes

}
.textarea{
    @extend .text-input;
    height: 10rem;
}