.list-header{
    background: $off-white;
    border: 1px solid darken($color: $off-white, $amount: 7%);
    color: $grey;
    display: flex;
    justify-content: space-between; 
    padding: $s-size $m-size;
}
.list-body{
    margin-bottom: $m-size;
     @media (min-width: $desktop-breakpoint) {
       margin-bottom: $l-size;
    }
}
.list-item{
    display: flex;
    flex-direction: column;
    border: 1px solid darken($color: $off-white, $amount: 7%);
    border-top: none;
    color: $dark-grey;
    padding: $s-size;
    text-decoration: none;
    transition: background .3s ease;
    &:hover{ // equal to => .list-item:hover
        background: $off-white;
    }
    @media (min-width: $desktop-breakpoint) {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: $m-size;
    }
}
.list-item--msg{
    align-items: center;
    justify-content: center
}
.list-item__title{
    margin: 0;
    word-break: break-all;
    color: $grey;
    padding: $m-size;
    &:hover{
        background: $off-white;
    }

}
.list-item__subtitle{
    color: $grey;
    font-size: $small-font;
}
.list-item__data{
    margin: $s-size 0 0 0;
    @media (min-width: $desktop-breakpoint) {
        margin: 0;
        padding-left: $s-size;
    }
}